<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mtm-fertighauswelt-integration" >
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.manufacturer_name" />
		</td>
		<td>
			{manufacturer.manufacturerName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.manufacturer_slogan" />
		</td>
		<td>
			{manufacturer.manufacturerSlogan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.description" />
		</td>
		<td>
			{manufacturer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.email" />
		</td>
		<td>
			{manufacturer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.phone" />
		</td>
		<td>
			{manufacturer.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.fax" />
		</td>
		<td>
			{manufacturer.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.website" />
		</td>
		<td>
			{manufacturer.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.strasse" />
		</td>
		<td>
			{manufacturer.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.plz" />
		</td>
		<td>
			{manufacturer.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.ort" />
		</td>
		<td>
			{manufacturer.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_manufacturer.manufacturer_logo" />
		</td>
		<td>
			{manufacturer.manufacturerLogo.originalResource.name}
		</td>
	</tr>
</table>
</html>