<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <div id="ImageMapPopup-noHouse" class=" popupContainer hidden">
        <div class="mobileCloseContainer">
            <i id="mobileClose" class="la la-times"></i>
        </div>
        <div class="houseContainer">
            <div class="houseImage">
                <img src="{f:uri.resource(path: 'Icons/EmptyHouse.jpg')}">
            </div>
            <div class="houseWrapper">
                <div class="row oneColumns">
                    <div class="houseName">
                        <span class="houseNameText">Dieses Grundstück ist momentan nicht bebaut!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
