<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Grid" />
<f:section name="content">
	<f:flashMessages />
	<div class="SitePlan row twoColumns">
		<div class="column col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<f:if condition="{settings.gelaendeplan} == 'deutsches-fertighaus-center'">
				<img id="sitePlanDFC" src="/fileadmin/data/sites/deutsches-fertighaus-center.de/Abbildungen/Gelaendeplan-Imagemap-Size.jpg" usemap="#image-map">

				<map name="image-map">
					<area target="" alt="" title="" href="#ImageMapPopup-1" coords="103,570,71,534" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-2" coords="162,532,196,568" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-3" coords="206,533,240,568" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-4" coords="253,531,287,568" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-5" coords="333,475,368,489,356,521,321,507" shape="poly">
					<area target="" alt="" title="" href="#ImageMapPopup-6" coords="347,430,382,445,370,477,335,463" shape="poly">
					<area target="" alt="" title="" href="#ImageMapPopup-7" coords="255,453,289,487" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-8" coords="255,406,289,442" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-9" coords="265,362,301,398" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-10" coords="323,345,358,382" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-11" coords="356,299,390,333" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-12" coords="307,275,341,311" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-12a" coords="273,317,309,354" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-13" coords="358,240,392,277" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-18" coords="343,107,376,141" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-18a" coords="339,155,378,190" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-19" coords="354,30,386,66" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-20" coords="295,106,331,142" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-21" coords="303,31,337,66" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-22" coords="248,108,281,141" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-22a" coords="240,157,279,195" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-23" coords="253,32,285,66" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-24" coords="200,32,234,68" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-25" coords="147,30,182,66" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-26" coords="97,31,131,67" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-27" coords="46,102,81,138" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-28" coords="46,160,79,195" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-29" coords="46,215,81,251" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-30" coords="46,271,81,307" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-31" coords="46,331,81,366" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-32" coords="46,388,79,424" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-33" coords="46,444,81,482" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-34" coords="119,313,154,347" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-35" coords="168,284,200,317" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-36" coords="119,254,154,292" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-37" coords="168,240,202,276" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-37a" coords="166,195,202,233" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-38" coords="119,203,154,239" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-39" coords="119,148,154,184" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-39a" coords="113,101,158,133" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-40" coords="168,151,202,189" shape="0">
					<area target="" alt="" title="" href="#ImageMapPopup-41" coords="168,108,202,144" shape="0">
				</map>
			</f:if>

			<f:if condition="{settings.gelaendeplan} == 'hausbaupark'">
				<img src="/fileadmin/data/sites/hausbaupark.de/Abbildungen/uebersichtsplan_2017.png" usemap="#image-map">

				<map name="image-map">
					<area target="" alt="" title="" href="#ImageMapPopup-25" coords="153,254,191,290" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-26" coords="74,343,111,379" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-28" coords="121,339,159,375" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-30" coords="188,334,225,371" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-32" coords="261,328,298,364" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-33" coords="196,186,233,223" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-34" coords="302,347,339,384" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-35" coords="127,171,165,207" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-40" coords="270,251,308,289" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-41" coords="123,86,160,123" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-44" coords="275,197,313,234" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-47" coords="196,28,233,64" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-49" coords="265,19,302,55" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-52" coords="280,145,318,181" shape="rect">
					<area target="" alt="" title="" href="#ImageMapPopup-60" coords="286,92,323,128" shape="rect">
				</map>
			</f:if>
		</div>
		<div class="column col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2>Ausgewähltes Musterhaus</h2>
			<f:for each="{houses}" as="house">
				<f:render partial="Imagemap/Popup" arguments="{house: house, housesManufacturer: housesManufacturer}"/>
			</f:for>
			<f:render partial="Imagemap/PopupEmpty" arguments="{house: house, housesManufacturer: housesManufacturer}"/>
		</div>
	</div>
</f:section>
</html>