<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="houseNumber">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_number" />
</label><br />
	<f:form.textfield property="houseNumber" /><br />
<label for="houseName">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_name" />
</label><br />
	<f:form.textfield property="houseName" /><br />
<label for="houseManufacturer">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_manufacturer" />
</label><br />
	<f:form.textfield property="houseManufacturer" /><br />
<label for="houseDescription">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_description" />
</label><br />
	<f:form.textarea property="houseDescription" cols="40" rows="15" /><br />
<label for="architectialStyle">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.architectial_style" />
</label><br />
	<f:form.textfield property="architectialStyle" /><br />
<label for="numberOfRooms">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.number_of_rooms" />
</label><br />
	<f:form.textfield property="numberOfRooms" /><br />
<label for="livingSpace">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space" />
</label><br />
	<f:form.textfield property="livingSpace" /><br />
<label for="energeticStandard">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.energetic_standard" />
</label><br />
	<f:form.textfield property="energeticStandard" /><br />
<label for="sliderImages">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.slider_images" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="layoutBasement">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_basement" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="livingSpaceBasement">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_basement" />
</label><br />
	<f:form.textfield property="livingSpaceBasement" /><br />
<label for="layoutGroundFloor">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_ground_floor" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="livingSpaceGroundFloor">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_ground_floor" />
</label><br />
	<f:form.textfield property="livingSpaceGroundFloor" /><br />
<label for="layoutUpstairs">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_upstairs" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="livingSpaceUpstairs">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_upstairs" />
</label><br />
	<f:form.textfield property="livingSpaceUpstairs" /><br />
<label for="layoutAttic">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_attic" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="livingSpaceAttic">
	<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_attic" />
</label><br />
	<f:form.textfield property="livingSpaceAttic" /><br />
</html>