<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mtm-fertighauswelt-integration" >
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_number" />
		</td>
		<td>
			{house.houseNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_name" />
		</td>
		<td>
			{house.houseName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_manufacturer" />
		</td>
		<td>
			{house.houseManufacturer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.house_description" />
		</td>
		<td>
			{house.houseDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.architectial_style" />
		</td>
		<td>
			{house.architectialStyle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.number_of_rooms" />
		</td>
		<td>
			{house.numberOfRooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space" />
		</td>
		<td>
			{house.livingSpace}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.energetic_standard" />
		</td>
		<td>
			{house.energeticStandard}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.slider_images" />
		</td>
		<td>
			{house.sliderImages}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_basement" />
		</td>
		<td>
			{house.layoutBasement.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_basement" />
		</td>
		<td>
			{house.livingSpaceBasement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_ground_floor" />
		</td>
		<td>
			{house.layoutGroundFloor.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_ground_floor" />
		</td>
		<td>
			{house.livingSpaceGroundFloor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_upstairs" />
		</td>
		<td>
			{house.layoutUpstairs.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_upstairs" />
		</td>
		<td>
			{house.livingSpaceUpstairs}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.layout_attic" />
		</td>
		<td>
			{house.layoutAttic.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mtmfertighausweltintegration_domain_model_house.living_space_attic" />
		</td>
		<td>
			{house.livingSpaceAttic}
		</td>
	</tr>
</table>
</html>